<?xml version="1.0" encoding="UTF-8"?>

<!-- /mappers/ItemMapper.xml -->

<!-- DTD추가 --><!-- mapper 태그를 사용할 수 있게 해준다  --><!-- 이 코드는 마이바티스 홈페이지에 가면 있다 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- mapper 태그 안에는 주석금지--> <!-- 필요한 쿼리문만 작성 -->
  <!-- namespace정보는 외부에서 해당 mapper(xml)를 찾을 수 있는 이름 , 실제 주소가 아니다-->
  <mapper namespace="com.dapao.mapper.ItemMapper">
  
  
  <select id="itemDetail" resultType="ItemVO">
  	select * from item 
  	where it_bno=#{it_bno}
  </select>
  
  
  </mapper>